.table {
    display: inline-block;
    padding: 0.2em;
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    border: 1px solid black;
    width: 1em;
    height: 1em;
}

.cell[player-mark='0'] {
    background-color: green;
}

.cell[player-mark='1'] {
    background-color: red;
}

.disabled {
    background-color: gray;
}