<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>M-TTT</title>
    </head>
    <body>
        <header>Meta Tic-Tac-Toe</header>

        <div id="grid-container"></div>

        <div id="grid-control">
            <input title="Meta Level" type="range" min="1" max="4" value="2" class="slider" id="meta-level">
            <button id="new-game">New Game of Meta <span id="level-value"></span></button>
        </div>

        <footer><a href="https://github.com/LucvandenBrand/MetaTTT">Brand - 2018</a></footer>
    </body>
</html>
